---
layout: layouts/base.njk
title: Karir dan Karya Mahasiswa | BEM KM UNY
description: Departemen Karir dan Karya Mahasiswa BEM KM Universitas Negeri Yogyakarta - Empowering students through career development and creative outlets
---

{% include "hero.njk" %}
{% include "about.njk" %}
{% include "programs.njk" %}
{% include "team.njk" %}
{% include "articles.njk" %}
{% include "timeline.njk" %}
{% include "gallery.njk" %}
{% include "contact.njk" %}
{% include "location.njk" %}
