---
permalink: "/sections/about-items.json"
---

{
  "items": [
    {% for item in collections.aboutItems %}
      {{ item.data | dump }},
    {% else %}
      "No items found"
    {% endfor %}
  ]
}
