---
layout: layouts/base.njk
---

<!-- Hero section -->
{% include "partials/sections/hero.njk" %}

<!-- About section -->
{% include "partials/sections/about.njk" %}

<!-- Programs section -->
{% include "partials/sections/programs.njk" %}

<!-- Team section -->
{% include "partials/sections/team.njk" %}

<!-- Articles section -->
{% include "partials/sections/articles.njk" %}

<!-- Timeline section -->
{% include "partials/sections/timeline.njk" %}

<!-- Gallery section -->
{% include "partials/sections/gallery.njk" %}

<!-- Contact section -->
{% include "partials/sections/contact.njk" %}

<!-- Location section -->
{% include "partials/sections/location.njk" %}
